integration/schema/choice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Choices">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="choice" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="sid" type="xs:string"/>
              <xs:element name="cid" type="xs:string"/>
              <xs:element name="score" type="xs:unsignedByte"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="college" type="xs:string"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
